@model BookViewModel
@{
    ViewData["Title"] = "GetGenre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container mt-5">
    <h1 class=" alert-light text-center" style="font-size:58px">BOOKS</h1>
</div>
<div class="row d-flex justify-content-center">
    @foreach (var item in Model.Books)
    {



        <div class="card col-3 m-3 text-center border border-dark rounded shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <img class="card-img-top" src="/Images/book.jpg">
            <div class="card-body">
                <h3 class="card-title text-center">@item.BookName</h3>
                <h4 class="">Author:@item.About</h4>
                <h4 class="">Genre:@item.GenreId</h4>
                <h4 class="text-danger text-center"> @item.Price</h4>
                <a href="#" class="btn btn-outline-info">BUY</a>
            </div>
        </div>
    }
</div>



